
{% extends 'base.html' %}

{% block body %}


<div class="container">
    <div class="content">
        <h2 class='is-large'>{{ the_title }}</h2>
        <p>You submitted the following data:</p>
        <table class='table'>
            <thead>
                <tr>
                    {% for row_title in the_row_titles %}
                    <th>{{row_title}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for log_row in the_data %}
                    <tr>
                        {% for item in log_row %}
                            <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>

{% endblock %}

